In [79]:
import pandas as pd
import os 
import csv

In [80]:
budget_csv = os.path.join ("Resources","budget_data.csv")
budget_csv

'Resources/budget_data.csv'

In [85]:
with open(budget_csv) as csv_file:
    csv_reader=csv.reader(csv_file)

In [86]:
budget_df = pd.read_csv(budget_csv)

In [87]:
budget_df.head()

     Date  Profit/Losses
0  Jan-10        1088983
1  Feb-10        -354534
2  Mar-10         276622
3  Apr-10        -728133
4  May-10         852993

In [15]:
total_months=(len(budget_df["Date"]))
total_months

86

In [16]:
total = budget_df["Profit/Losses"].sum()
total

22564198

In [17]:
average_change = budget_df["Profit/Losses"].mean()
average_change

262374.3953488372

In [20]:
mtm_change = [budget_df["Profit/Losses"][i + 1] - budget_df["Profit/Losses"][i] for i in range(len(budget_df["Profit/Losses"])-1)] 
mtm_change

[-1443517,
 631156,
 -1004755,
 1581126,
 -289272,
 -1098929,
 1167557,
 -806093,
 1124485,
 -1736491,
 -408383,
 604557,
 -294345,
 1327485,
 394323,
 243585,
 -617439,
 -1530577,
 1390390,
 -1130397,
 1293604,
 641758,
 -337413,
 -52031,
 -937192,
 863841,
 -76245,
 -100481,
 -960729,
 591856,
 54930,
 680102,
 -250254,
 -840415,
 582358,
 -48628,
 -135256,
 978586,
 -599210,
 -442789,
 652924,
 -1005714,
 1167373,
 -234900,
 -165147,
 -52275,
 -302320,
 719028,
 -1825558,
 1287083,
 -48303,
 210234,
 -236414,
 585165,
 -1400632,
 839777,
 465229,
 317811,
 -760202,
 -71868,
 795457,
 -182685,
 -1242836,
 1371884,
 -445193,
 10025,
 -1043998,
 1350395,
 80538,
 -1223250,
 104148,
 843924,
 -1808664,
 1505005,
 306402,
 -143603,
 -1266937,
 -162519,
 1862002,
 -52986,
 -1627245,
 616795,
 628522,
 90895,
 -224669]

In [71]:
mtm_change_max = max(mtm_change)
mtm_change_max

1862002

In [70]:
mtm_change_min = min(mtm_change)
mtm_change_min

-1825558

In [101]:
average_mtm = sum(mtm_change)/len(mtm_change)
rounded_average = round(average,2)
rounded_average

-8311.11

In [102]:
print('Financial Analysis')
print('----------------------------')
print("Total Months: " + str(total_months))
print("Average Change: " + "$" + str(rounded_average))
print("Greatest Increase in Profits " + "$" + str(mtm_change_max))
print("Greatest Decrease in Profits " + "$" + str(mtm_change_min))

Financial Analysis
----------------------------
Total Months: 86
Average Change: $-8311.11
Greatest Increase in Profits $1862002
Greatest Decrease in Profits $-1825558